.nav-bar {
  background-color: #3367d6;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.search {
  margin-left: 400px;
  display: flex;
  flex-direction: row;
}
.app-logo {
  height: 35px;
}
.image-search {
  background-color: #2850a7;
  padding: 10px;
  width: 40px;
  margin-right: 2px;
}
.input-search {
  background-color: #2850a7;
  width: 400px;
  color: white;
  border-width: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.history {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f8fafc;
  margin-top: 10px;
  border-radius: 10px;
  width: 80%;
}
.no-history {
  color: #64748b;
  text-align: center;
  align-self: center;
}
